body {
    background-image: linear-gradient(90deg, #6441A5, #2a0845);
    text-align: center;
}

h1 {
    color: cornflowerblue;
    font-size: 50px;
    padding-bottom: 15%;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 20px;
}

.links a:hover {
    color: cornflowerblue;
}