html {
      
    background-image: linear-gradient(90deg, #000000, #434343);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    border: 0px;
    background-size: contain;
         
}

h1 {

    color: crimson;
    text-align: center;
    font-size: 60px;
}

body {

    margin: 0px;
    border: 0px;
    overflow-x: hidden;

}

header {

    text-align: center;
}

main {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: whitesmoke;
    text-align: center;
    padding-top: 40px;
}

footer {

    background-image: linear-gradient(90deg, #000000, #434343);
    color:rgb(212, 5, 46);
    text-align: center;
    display: flex;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 20px;  
}

.links a:hover {
    color: cornflowerblue;
}


   